* {
margin: 0;
padding: 0;
}
body{
    width: 100%;
    overflow-x: hidden;
}
.overflow-hidden{
    overflow: hidden;
}

a:link {
    text-decoration: none;
    color: tomato;
}
a:visited {
    text-decoration: none;
    color: tomato;
}
a:hover {
    text-decoration: none;
    color: red;
}
a:active {
    text-decoration: none;
    color: tomato;
}

.navwrap{
    padding-bottom: 110px;
    z-index: 2;
    margin: auto;
    width: 92vw;
}

nav {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: 92vw;
    align-items: flex-start;
    justify-content: space-between;
    font-family: "supria-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px; 
    position: fixed;
}

.name{
    display: flex;
    padding-top: 30px;
}

.info{
    display: flex;
    padding-top: 30px;
}

footer {
    display: flex;
    font-family: "supria-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: auto; 
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    width: 92vw;
}

hr{
    width: 92vw;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    color: black;
}

#container{
    display: flex;
    width: 92vw;
    min-width: 320px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.container{
    display: flex;
    width: 92vw;
    min-width: 320px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    align-self: start;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.container2{
    display: flex;
    width: 92vw;
    min-width: 320px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    align-self: start;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#last{
    padding-bottom: 40px;
    padding-top: 50px;
}

.image1{
    width: 49%;
 }
.image1{
    cursor: pointer;
}
.image2{
    width: 39%;
}
.image2{
    cursor: pointer;
}

.project{
    width: 100%;
}

.overlay{
    display:none;
    text-align: center;
    z-index: 1;
}

.overlay-content{
    font-family: "supria-sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 45px;  
    display: flex;
    width: 92vw;
    justify-content: center;
    text-align: center; 
    align-items: center;
}

.clickable-container{
  position:relative;
  color:white;
  display:block;
}

.clickable-container:hover .overlay {
    position:absolute;
    top:0;
    left:0;
    display: flex;
    justify-content:center;
    background: #ffffff;
    width:100%;
    height:100%;
    opacity:1;
}

header{
    font-family: "supria-sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 45px;  
    padding-top: 50px;
    display: flex;
    width: 70%;
    justify-content: center;
    text-align: center;
}

h2{
    font-family: "supria-sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;  
    padding-bottom: 35px;
    display: block;
    width: 70%;
    justify-content: center;
    text-align: center;
}
h3{
    font-family: "supria-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px; 
    display: block;
    margin: auto;
}
.Text{
    margin: auto;
    display: flex;
    width: 92vw;
    height: auto;
    justify-content: center;
}
p{
    font-family: "supria-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px; 
    display: block;
    margin: auto;
    width: 50%;
}
.fifty{
    /*padding-top: 50px;*/
    padding-bottom: 50px;
}


.pImg1{
    width: 49%;
}
.pImg2{
    width: 39%;
}
.pImg3{
    width: 100%;
}

.bigger{
    padding-bottom: 20px;
    margin: auto;
    font-size: 45px;
    width: 92vw;
}

@media screen and (max-width: 1320px){
    .wrapper{
        display: block;
        margin: auto;
        width: 92vw;
    }

   /* header{
        font-size: 35px;
    }*/

    /*h2{
        font-size: 20px;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 20px;
    }
    nav{
        font-size: 20px;
    }

     .overlay-content{
        font-size: 35px;
    }*/
}

@media screen and (max-width: 960px){
    #container{
        padding-right: 0px;
        padding-left: 0px;
    }

     .container{
        padding-right: 0px;
        padding-left: 0px;
    }

    p{
        width: 92vw;
    }

    .bigger{
        font-size: 35px;

    }

    header{
        font-size: 35px;
    }

    .overlay-content{
        font-size: 35px;
    }

    h2{
        width: 92vw;
    }

    .fifty{
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 650px){
    .container{
        margin: auto;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }   

    #container{
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 0px;
    } 

    .container2{
        margin: auto;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }   

    #container2{
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 0px;
    } 

    #last{
    padding-bottom: 30px;
    }

    .frontpage{
        padding-bottom: 20px;
    }

    nav{
    text-align: center;
    }
    
    .image1{
        width: 92vw;
        margin: auto;
        padding-bottom: 50px;
    }

    .image2{
        width: 92vw;
        margin: auto;
        padding-bottom: 50px;
    }

    .pImg1{
        width: 92vw;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: auto;
    }
    .pImg2{
        width: 92vw;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: auto;
    }
    .pImg3{
        width: 92vw;
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
        margin: auto;
    }
/*
    .overlay-content{
        font-size: 25px;
    }*/
    
    header{
        width: 92vw;
        margin: auto;
        /*padding-bottom: 20px;*/
        /*font-size: 30px;*/
    }

    .bigger{
        font-size: 30px;
        margin-bottom: 25px;

    }

    footer{
        /*flex-direction: column;*/
        width: 92vw;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
        
    h3{
        width: 92vw;
        margin: auto;
    }

    p{
        width: 92vw;
        margin: auto;
    }

    hr{
        display: none;
    }
}

@media screen and (max-width: 530px){
    .bigger{
        font-size: 24px;
    }

    /*header{
        font-size: 25px;
    }*/

nav{
    display: block;
    padding-bottom: 0px;
    position: static;
    }

.navwrap{
    padding-bottom: 0px;
}
.name{
    display: block;
    font-size: 24px;
}
.info{
    display: block;
    padding-top: 0px;
    font-size: 24px;
}

}

@media screen and (max-width: 450px){



}